/* // Reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla;
  list-style: none;
}

:root {
  --colorDkBlue: #001D5D;
  --colorGrey: #B8BfCF;
  --colorGreen: #68C242;
  --colorLtGreen: #D9F0D0;
  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorDkGrey: #525252;
  --colorLtGrey: #F6F6F6;
}

/* Global Styles */
h1 {
  font-family: Karla;
  font-weight: 700;
  font-size: 4.063rem;
  letter-spacing: 0.73;
  line-height: 4.75rem;
  color: var(--colorWhite);
}

h2 {
  font-family: Karla;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: var(--colorDkBlue);
}

h3 {
  font-family: Karla;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 3.125rem;
  color: var(--colorDkBlue);
}

h4 {
  font-family: Karla;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1;
  line-height: 3.125rem;
  text-transform: uppercase;
  color: var(--colorGreen);
}

p {
  font-family: Karla;
  font-size: 1rem;
  line-height: 1.563rem;
}

/* Navbar */
.navbar {
  z-index: 10;
}

.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100vw;
  background-color: var(--colorWhite);
  color: var(--colorDkBlue);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.188rem;
}

.menu-items {
  order: 2;
  display: flex;
}

.logo {
  order: 1;
  width: 5.813rem;
  height: 2.188rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.menu-items li,
button {
  list-style: none;
  margin-left: 0.313rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.navbar a {
  color: var(--colorDkBlue);
  text-decoration: none;
  font-weight: 700;
  margin-right: 4.063rem;
  transition: color 0.3s ease-in-out;
}

button {
  background-color: var(--colorLtGreen);
  box-shadow: rgba(104, 194, 66, 0.2) 0 -25px 18px -14px inset, rgba(104, 194, 66, 0.15) 0 1px 2px, rgba(104, 194, 66, 0.15) 0 2px 4px, rgba(104, 194, 66, 0.15) 0 4px 8px, rgba(104, 194, 66, 0.15) 0 8px 16px, rgba(104, 194, 66, 0.15) 0 16px 32px;
  color: var(--colorGreen);
  cursor: pointer;
  display: inline-block;
  font-family: Karla;
  padding: 0.75rem 2.938rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 0.875rem;
  line-height: 1.063rem;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button > a {
  margin: 0 !important;
}

button:hover {
  box-shadow: rgba(104, 194, 66, 0.35) 0 -25px 18px -14px inset, rgba(104, 194, 66, 0.25) 0 1px 2px, rgba(104, 194, 66, 0.25) 0 2px 4px, rgba(104, 194, 66, 0.25) 0 4px 8px, rgba(104, 194, 66, 0.25) 0 8px 16px, rgba(104, 194, 66, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

button:hover a {
  color: var(--colorGreen);
}

button:hover {
  background: var(--colorWhite);
  color: var(--colorGreen);
}

.navbar a:hover {
  color: var(--colorGreen);
}

/* Hero Banner */
.hero-banner-wrapper {
  display: flex;
  align-items: center;
  background-image: url(../Images/image1.png);
  width: 100%;
  height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-left: 4.563rem;
  height: 10rem;
}

.hero-text h1 {
  font-size: 4.063rem;
  letter-spacing: 0.73;
  line-height: 4.75rem;
}

.hero-text p {
  color: var(--colorWhite);
  max-width: 34.25rem;
}

.play-button {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}

.play-button p {
  margin-left: 0.813rem;
  margin-top: 0.938rem;
}

@-webkit-keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

@keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
#bkg {
  width: 100%;
  height: 43.188rem;
  -webkit-animation: breath 8s linear infinite;
          animation: breath 8s linear infinite;
  background: url(../Images/image1.png) no-repeat;
}

/* Featured Artist Section */
.featured-artist-wrapper {
  height: 40.938rem;
  width: 100%;
  margin: auto;
  background-color: var(--colorWhite);
  display: flex;
  align-items: stretch;
  padding: 6rem 10.75rem 7.875rem 4.563rem;
}

.featured-artist-img img {
  width: 34.25rem;
  height: 27.063rem;
  -o-object-fit: none;
     object-fit: none;
  display: block;
}

.featured-artist-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 2.313rem;
  max-width: 28.125rem;
}

.featured-artist-content p {
  color: var(--colorDkGrey);
}

/* New Releases Section */
.new-releases-wrapper {
  background-color: var(--colorLtGrey);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.new-releases-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.375rem;
}

.new-releases-title-content p {
  margin-top: 1rem;
  margin-bottom: 4.375rem;
  text-align: center;
  max-width: 34.25rem;
}

.new-releases-slider-cards {
  display: flex;
  margin-top: 4rem;
}

.slider {
  max-width: 36rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider .slider__card,
.carousel .slider__card--hidden {
  display: none;
}

.slider .slider__card--visible {
  display: flex;
  -webkit-animation: fadeVisibility 0.5s;
          animation: fadeVisibility 0.5s;
}

.slider__card {
  display: flex;
  align-items: center;
  background-color: var(--colorWhite);
  border-radius: 0.25rem;
  box-shadow: 0 0 13px rgba(152, 152, 152, 0.5);
  width: 34.188rem;
  height: 16.5rem;
  margin: 0 2.375rem 0 0;
}

.slider__card--content {
  padding: 0 1.813rem;
}

.slider__card--img img {
  background-color: var(--colorLtGrey);
  padding: 3.875rem 1.25rem;
}

.slider .slider__actions {
  display: flex;
  justify-content: center;
}

.slider .slider__actions span {
  border: none;
  border-radius: 50%;
  margin: 4rem 1.188rem;
  cursor: pointer;
}

@-webkit-keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
/* Map Section */
.map-wrapper {
  background-color: #525252;
  width: auto;
  height: 34.875rem;
}

/* Contact Section */
.contact-wrapper {
  background-color: var(--colorWhite);
  width: auto;
  height: 45rem;
  display: flex;
  justify-content: space-between;
  margin-left: 4.563rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  margin: 5.063rem 0;
}

.contact-content p {
  font-family: Karla;
  font-size: 1rem;
  line-height: 1.563rem;
  color: var(--colorDkGrey);
  max-width: 28.125rem;
}

.contact-content input, select {
  background-color: var(--colorLtGrey);
  width: 15.938rem;
  height: 2.813rem;
  margin-right: 2.375rem;
  padding-left: 1.188rem;
  border: none;
}

input::-moz-placeholder {
  color: var(--colorBlack);
}

input:-ms-input-placeholder {
  color: var(--colorBlack);
}

input::placeholder {
  color: var(--colorBlack);
}

textarea::-moz-placeholder {
  color: var(--colorBlack);
}

textarea:-ms-input-placeholder {
  color: var(--colorBlack);
}

textarea::placeholder {
  color: var(--colorBlack);
}

select {
  color: var(--colorBlack);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url(../Icons/PNGs/dropdown_triangle.png);
  /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 13.938rem;
}

textarea {
  background-color: var(--colorLtGrey);
  padding-left: 1.188rem;
  padding-top: 0.813rem;
  width: 34.25rem;
  border: none;
  resize: none;
  color: var(--colorBlack);
  font-family: Karla;
  font-size: 0.875rem;
  line-height: 1.063rem;
}

.contact img {
  height: 45rem;
  width: 32.688rem;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
  display: block;
  max-width: 100%;
}

/* Footer */
.footer-container {
  background-color: var(--colorDkBlue);
  width: 100%;
  height: 23.7rem;
  padding: 3rem;
}

.footer-top-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.footer-nav-links {
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

footer .logo {
  width: 93px;
  height: 35px;
  margin: 20px 0 20px 0;
}

.footer-top-items h4 {
  color: var(--colorWhite);
  text-transform: uppercase;
}

.footer-top-items p, li {
  color: var(--colorWhite);
  font-family: Karla;
  font-size: 16px;
  line-height: 28px;
}

.explore-items, .music-items, .artists-items, .records-items, .concerts-items {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.footer-top-items ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-top-items li:hover {
  cursor: pointer;
  font-weight: 700;
}

.footer-bottom-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--colorWhite);
  margin-top: 48px;
  padding: 32px 0;
}

.footer-bottom-item {
  color: var(--colorWhite);
  margin-right: 30px;
}

.socials a {
  margin-left: 22px;
}

/* Responsive Styles */
@media (max-width: 1240px) {
  .nav button {
    padding: 0.5rem 1.5rem;
    margin-left: 1.5rem;
  }

  .featured-artist-wrapper {
    flex-direction: column;
    align-items: center;
    height: 70rem;
    justify-content: center;
    padding: 0;
    align-content: center;
  }

  .featured-artist-content {
    align-items: center;
    margin: 0;
    padding: 0.75rem;
  }

  .featured-artist-content h2 {
    margin-top: 0.5em;
    text-align: center;
  }

  .featured-artist-content p {
    text-align: center;
    margin: 1em 0;
  }

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    height: 90rem;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-content: center;
  }

  .contact-content {
    align-items: center;
    margin: auto;
  }

  .contact-content h2 {
    margin-top: 0.5em;
    text-align: center;
  }

  .contact-content p {
    text-align: center;
    margin: 1em 0;
  }

  .name-inputs, .email-reason-inputs, .message-input {
    margin: 0.75rem;
  }

  #reason-select {
    margin: 0;
  }

  .last-name {
    margin: 0 !important;
  }
}
@media (max-width: 1030px) {
  .footer-container {
    height: 37.5rem;
  }

  .co-info-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid var(--colorWhite);
  }

  .footer-top-items {
    display: flex;
    flex-direction: column;
  }

  .concert-items {
    align-items: flex-start;
  }

  .footer-nav-links {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 1rem 0;
  }

  footer-bottom-items {
    margin: 0;
  }
}
@media (max-width: 1080px) {
  .navbar a {
    margin-right: 2rem;
  }
}
@media (max-width: 955px) {
  .navbar-container input[type=checkbox],
.navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 5.188rem;
  }

  .navbar-container input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--colorDkBlue);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: var(--colorWhite);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
  }

  .nav-item li {
    transform: translateY(1rem);
    margin-left: 0.5rem;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
  }

  button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 1rem;
  }

  .logo {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
  }

  .navbar-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
@media (max-width: 850px) {
  .footer-container {
    height: 50rem;
  }

  .footer-nav-links {
    display: grid;
    align-self: center;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 690px) {
  .hero-banner {
    width: 100%;
  }

  .hero-banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }

  .hero-text {
    align-items: center;
    margin: auto;
  }

  .slider__card {
    width: 100%;
    height: auto;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }

  .name-inputs, .email-reason-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .last-name {
    margin-top: 0.5rem !important;
  }

  #reason-select {
    margin-top: 0.5rem;
  }

  .message-input {
    margin-left: 12px;
  }

  textarea {
    width: 350px;
  }

  .footer-container {
    height: auto;
  }

  .footer-nav-links {
    margin-left: 2.5rem;
    display: block;
  }

  .footer-bottom-items {
    display: block;
  }

  .footer-bottom-item {
    text-align: center;
    margin: 0;
  }

  .socials {
    justify-content: space-evenly;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .navbar-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */