/* // Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --colorDkBlue: #001D5D;
    --colorGrey: #B8BfCF;
    --colorGreen: #68C242;
    --colorLtGreen: #D9F0D0;
    --colorBlack: #000;
    --colorWhite: #FFF;
    --colorDkGrey: #525252;
    --colorLtGrey: #F6F6F6;
}

/* Global Styles */
h1 {
    font-family: Karla;
    font-weight: 700;
    font-size: 65px;
    letter-spacing: 0.73px;
    line-height: 76px;
    color: var(--colorWhite);
}
h2 {
    font-family: Karla;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--colorDkBlue);
}
h3 {
    font-family: Karla;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: var(--colorDkBlue);
}
h4 {
    font-family: Karla;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--colorGreen);
}
p {
    font-family: Karla;
    font-size: 16px;
    line-height: 25px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    min-height: 83px;
    width: 100%;
    align-items: center;
    background-color: var(--colorWhite);
    display: flex;
    float: right;
    z-index: 10;
    @media (max-width: 600px) {
    flex-wrap: wrap;}
}
.header-wrapper {
    width: 90%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 93px;
    height: 35px;
}
nav ul{
    display: flex;
}
.nav-item {
    display: flex;
    align-items: center;
}
nav li, button {
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: var(--colorDkBlue);
    display: inline-block;
    align-content: center;
    margin: 5px;
}
nav img, button.nav {
    margin-left: 65px;
}
button {
  background-color: #D9F0D0;
  box-shadow: rgba(104,194,66, .2) 0 -25px 18px -14px inset,rgba(104,194,66, .15) 0 1px 2px,rgba(104,194,66, .15) 0 2px 4px,rgba(104,194,66, .15) 0 4px 8px,rgba(104,194,66, .15) 0 8px 16px,rgba(104,194,66, .15) 0 16px 32px;
  color: #68C242;
  cursor: pointer;
  display: inline-block;
  font-family: Karla;
  padding: 12px 47px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover {
  box-shadow: rgba(104,194,66,.35) 0 -25px 18px -14px inset,rgba(104,194,66,.25) 0 1px 2px,rgba(104,194,66,.25) 0 2px 4px,rgba(104,194,66,.25) 0 4px 8px,rgba(104,194,66,.25) 0 8px 16px,rgba(104,194,66,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* Hero Banner */
.hero-banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/image1.png);
    width: 100%;
    height: 691px;
    margin: 0;
}
.hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    height: 160px;
}
.hero-text h1 {
    font-size: 65px;
    letter-spacing: 0.73;
    line-height: 76px;
}
.hero-text p {
    color: var(--colorWhite);
}
.play-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.play-button p {
    margin-left: 13px;
    margin-top: 15px;
}
@keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}
#bkg{
  width: 100%;
  height: 691px;
  animation: breath 8s linear infinite;
  background: url(../images/image1.png) no-repeat;
}

/* Featured Artist Section */
.featured-artist-wrapper{
    height: 655px;
    width: 100%;
    margin: auto;
    background-color: var(--colorWhite);
    display: flex;
    align-items: stretch;
    padding: 96px 172px 126px 73px;
}
.featured-artist-img img {
    width: 548px;
    height: 433px;
    object-fit: none;
}
.featured-artist-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 37px;
}
.featured-artist-content p{
    color: var(--colorDkGrey);
}

/* New Releases Section */
.new-releases-wrapper {
    background-color: var(--colorLtGrey);
    height: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.new-releases-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.new-releases-title-content p {
    margin-top: 16px;
    margin-bottom: 70px;
    text-align: center;
}
.new-releases-slider-cards {
    display: flex;
    margin-top: 64px;
}
.slider-card {
    display: flex;
    align-items: center;
    background-color: var(--colorWhite);
    border-radius: 4px;
    box-shadow: 0 0 13px rgba(152,152,152,0.5);
    width: 547px;
    height: 264px;
    margin: 0 38px 0 0;
}
.slider-card-content {
    padding: 0 29px;
}
.slider-img img {
    background-color: var(--colorLtGrey);
    padding: 62px 20px;
    margin-bottom: -3px;
}
.slider {
    margin: 0;
}
.arrow {
    margin: 64px 19px;
    cursor: pointer;
}

/* Map Section */
.map-wrapper {
    background-color: #525252;
    width: auto;
    height: 558px;
}

/* Contact Section */
.contact-wrapper {
    background-color: var(--colorWhite);
    width: auto;
    height: 720px;
    display: flex;
    justify-content: space-between;
    margin-left: 73px;
    align-items: center;
    box-sizing: border-box;
}
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin: 81px 0;
}
.contact-content p {
    font-family: Karla;
    font-size: 16px;
    line-height: 25px;
    color: var(--colorDkGrey);
}
.contact-content input, select {
    background-color: var(--colorLtGrey);
    width: 255px;
    height: 45px;
    margin-right: 38px;
    padding-left: 19px;
    border: none;
}
input::placeholder{
    color: var(--colorBlack);
  }
textarea::placeholder{
    color: var(--colorBlack);
  }
select {
    color: var(--colorBlack);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url(../Icons/PNGs/dropdown_triangle.png);   /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 223px;
}
textarea {
    background-color: var(--colorLtGrey);
    padding-left: 19px;
    padding-top: 13px;
    width: 548px;
    border: none;
    resize: none;
    color: var(--colorBlack);
    font-family: Karla;
    font-size: 14px;
    line-height: 17px;
}
.contact img {
    height: 720px;
    width: 523px;
    object-fit: none;
    object-position:100% 100%;
}

/* Footer */
footer {
    background-color: var(--colorDkBlue);
    width: 100%;
    height: 379px;
    padding: 48px;
    margin-top: -2px;
}
.footer-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
}
footer .logo {
    width: 93px;
    height: 35px;
    margin: 20px 0 20px 0;
}
.footer-top-items h4 {
    color: var(--colorWhite);
    text-transform: uppercase;
}
.footer-top-items p,li{
    color: var(--colorWhite);
    font-family: Karla;
    font-size: 16px;
    line-height: 28px;
}
.explore-items, .music-items, .artists-items, .records-items, .concerts-items {
    display: flex;
    flex-direction: column;
    width: 140px;
}
.footer-top-items ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-bottom-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--colorWhite);
    margin-top: 48px;
    padding: 32px 0;
}
.footer-bottom-item {
    color: var(--colorWhite);
    margin-right: 30px;
}
.socials a{
    margin-left: 22px; 
}