/* // Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --colorDkBlue: #001D5D;
  --colorGrey: #B8BfCF;
  --colorGreen: #68C242;
  --colorLtGreen: #D9F0D0;
  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorDkGrey: #525252;
  --colorLtGrey: #F6F6F6;
}

/* Header */
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

@media (max-width: 600px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header-wrapper {
  width: 90%;
  padding: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li, button {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1;
  color: var(--colorDkBlue);
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: .5rem;
}

nav img, button.nav {
  margin-left: 3rem;
}

button {
  background-color: var(--colorLtGreen);
  border: none;
  font-size: 14px;
  word-spacing: 0;
  padding: .5rem 3rem;
  color: var(--colorGreen);
  margin: 0;
}

/* Hero Banner */
.hero-banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../images/image1.png);
  width: 100vw;
  height: 700px;
  margin: 0;
}

.hero-text {
  font-family: Karla;
  font-weight: 700;
  color: var(--colorWhite);
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5rem;
}

.hero-text h1 {
  font-size: 65px;
  letter-spacing: 0.73;
  line-height: 76px;
}

.hero-text p {
  font-size: 16px;
  letter-spacing: 1;
  line-height: 25px;
  margin-top: 1rem;
}

.play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.play-button p {
  margin: 0 1rem;
}

@-webkit-keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

@keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

#bkg {
  width: 100vw;
  height: 700px;
  -webkit-animation: breath 8s linear infinite;
          animation: breath 8s linear infinite;
  background: url(../images/image1.png) no-repeat;
}

/* Featured Artist Section */
.featured-artist-wrapper {
  height: 600px;
  width: 100vw;
  margin: auto;
  background-color: var(--colorWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 5rem 10rem 4rem 5rem;
  overflow: hidden;
}

.featured-artist-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-left: 2rem;
}

.featured-artist-content h2 {
  font-family: Karla;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--colorDkBlue);
}

.featured-artist-content p {
  font-family: Karla;
  /* font-weight: 700; */
  font-size: 16px;
  letter-spacing: 1;
  line-height: 25px;
  color: var(--colorBlack);
}

/* New Releases Section */
.new-releases-wrapper {
  background-color: var(--colorLtGrey);
}

/* Footer */
footer {
  background-color: var(--colorDkBlue);
  width: 100vw;
  height: 350px;
  padding: 3rem;
  /* display: flex; */
  /* flex-direction: row; */
}

.footer-top-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.co-info {
  font-family: Karla;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: var(--colorWhite);
}

.footer-top-items h2 {
  text-transform: uppercase;
}

.footer-top-item {
  font-weight: 400;
}

.explore-items, .music-items, .artists-items, .records-items, .concerts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--colorWhite);
  margin-top: 3rem;
  padding: 2rem 0;
}

.footer-bottom-item {
  color: var(--colorWhite);
  margin-right: 2rem;
}

.socials a {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */